@media (min-width: 769px) {

    /* .main__nav {
        display: flex;
    } */

    .nav__list + li {
        margin-left: 40px;
    }

    .nav__Liink {
      color: #fff;
    }
    

    .body__banner img {
        /* width: 100%; */
        height: 100vh;
    }

    .nav-item {
        position: relative;
    }
    
    .sub__nav {
        position: absolute;
        top: 50px;
        left: 0;
        /* left: -50px; */
        background-color: #4f4f4f08;
        padding: 2px;
    }  
  
    .sub__nav-list {
        margin-bottom: 1px;
    }
    
    .sub__nav-link {
        display: block;
        color: #fff;
        width: 200px;
        padding: 6px 30px;
        background-color: #08151dec;
        /* background-color: #1a4967ec; */
    }
    
    .sub__nav-link:hover {
        color: #fff;
        background-color: #e8a412f5;
    
    }
    .ftco-navbar-light .navbar-nav > .nav-item > .nav-link:hover {
        color: #d0cece;
    }
    /* .ftco-navbar-light.scrolled .nav-link.active {
        color: #e8a412f5 !important;
        border-top: 2px solid  #08151dec;
    } */
    

}

@media (max-width: 768px) {

    .body__header {
        text-align: center;
    }

    .main__nav {
        padding: 0;
        display: flex;
        justify-content: center;
    }

    .nav__list {
        margin: 20px 10px 0;
    }


    .body__banner img {
        /* width: 100%; */
        height: 50vh;
    }

    .carousel-item::after {
        height: 100%;
    }

    .sub__nav {
        padding-top: 10px;
    }

    .sub__nav-link {
        display: block;
        color: #fff;
        padding: 6px 0px;
        margin-bottom: 1px;
        background-color: #e8a412f5;
        /* background-color: #1a4967ec; */
    }
}
